*.log
*.aux
*.bbl
*.blg
*.toc
*.out
*.fdb_latexmk
*.fls
*.synctex.gz
*.orig
CommutatorWidthGrigorchuk.pdf
*~
#Exclude the documentation help files.
gap/equations/doc/*
!gap/equations/doc/*.xml
#Exclude some aux files
gap/tempstuff.g
paranth.py
